* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo';
}
::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  height: 100vh;
  background: #141414;
  color: #ffffff;
  overflow: hidden;
}

.overlay{
  background: #000000;
  opacity: 0.4;
}

.bars-container {
  display: flex;
  flex-direction: column;
}
input{
  opacity: 1 !important;
}
.nav-bar {
  width: 100%;
  height: 94px;
  padding-left: 40px;
  padding-right: 40px;
  background: linear-gradient(180deg, #5fe19b 0%, #36b972 50%, #0ea152 100%);
  box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 539px;
  top: 24px;
  height: 223px;
  opacity: 1 !important;
}
.nav-bar-search {
  height: 47px;
  width: 362px;
  padding-left: 40px;
  border-radius: 4px;
  opacity: 1 !important;
}
.search-icon {
  position: absolute;
  top: 12px;
  left: 10px;
  opacity: 1 !important;
}
.auto-complete {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 168px;
  padding-left: 14px;
  width: 362px;
  top: 8px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(140, 140, 140, 0.25);
  z-index: 5;
  overflow: hidden;
  opacity: 1 !important;
}

.search-results {
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3d3d3d;
  opacity: 1 !important;
}
#last-searches {
  text-decoration: none;
}
.nav-bar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logout {
  width: 66px;
  height: 39px;
  margin-top: 15px;
  justify-items: center;
  margin-right: 16px;
  line-height: 20px;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  white-space: nowrap;
  text-decoration: none;
}

.title-bar {
  margin-left: 40px;
  height: 141px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 20px;
}
.title-text {
  margin-top: 19px;
  font-weight: 800;
  font-size: 48px;
}
.sub-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subtitle-text {
  font-weight: 400;
  font-size: 18px;
}
.cards-size-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 74px;
  width: 104px;
}
.cards-size-container button {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  line-height: 5px;
}
.active {
  background: #515151;
}
.inactive {
  background: #303030;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 260px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.nav-links,
.pop-title {
  font-weight: 700;
  font-size: 20px;
}
.pop-title {
  margin-bottom: 18px;
}
.nav-links li {
  margin-bottom: 14px;
}
.time-links {
  margin-top: 37px;
  margin-bottom: 55px;
}
.time-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 17px;
}
.search-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 17px;
}
#last-searches {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.home a {
  color: #5fe19b;
  text-decoration: none;
}
ul {
  list-style: none;
}
.side-icon {
  margin-right: 10px;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-large {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 697px;
  overflow-y: auto;
  margin-right: 15.75rem;
}
.large-card {
  flex: 0 0 auto;
  height: 538px;
  margin-bottom: 24px;
  background: #303030;
  border-radius: 12px;
  overflow: hidden;
}

.large-card img {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-data {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-left: 16px;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 16px;
}
.card-name-large {
  height: 33px;
  width: 605px;
  font-weight: 700;
  font-size: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-number {
  color: #36b972;
  font-weight: 700;
  font-size: 24px;
}
.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-specs-large {
  display: flex;
  flex-direction: row;
  color: #939393;
  font-weight: 500;
  font-size: 14px;
  height: 19px;
}
.release {
  width: 200px;
}
strong {
  margin-left: 10px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.data-genres {
  overflow: hidden;
  width: 100px;
}
.consoles {
  display: flex;
  flex-direction: row;
  color: transparent;
  width: 100px;
  overflow: hidden;
  position: relative;
  right: 0;
}
.platforms {
  margin-left: 16px;
  width: 20px;
  height: 20px;
}
.card-description {
  position: relative;
  margin-top: 20px;
  bottom: -15px;
  height: 102px;
  font-weight: 500;
  font-size: 14px;
  overflow: scroll;
}

/* SMALL CARDS */

.container-small {
  width: 100%;
  height: 780px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.small-card {
  height: 314px;
  width: 363px;
  margin-right: 24px;
  margin-bottom: 24px;
  background: #303030;
  border-radius: 12px;
  overflow: hidden;
  flex: 0 0 31%;
}

.small-card img {
  position: relative;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-name-small {
  font-weight: 700;
  width: 280px;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
}
.consoles img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
.card-specs-small {
  display: flex;

  flex-direction: column;
  justify-items: space-between;
  color: #939393;
  font-weight: 500;
  font-size: 14px;
  height: 19px;
}
.card-specs-small div {
  margin-bottom: 4px;
}

.hidden {
  display: none;
}
