* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo';
}
::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  height: 100vh;
  background: #141414;
  overflow: hidden;
}
.bars-container {
  display: flex;
  flex-direction: column;
}
.nav-bar {
  width: 100%;
  height: 94px;
  padding-left: 40px;
  padding-right: 40px;
  background: linear-gradient(180deg, #5fe19b 0%, #36b972 50%, #0ea152 100%);
  box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 539px;
  top: 24px;
  height: 223px;
}
.nav-bar-search {
  height: 47px;
  width: 362px;
  padding-left: 40px;
  border-radius: 4px;
}
.search-icon {
  position: absolute;
  top: 12px;
  left: 10px;
}
.auto-complete {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 168px;
  padding-left: 14px;
  width: 362px;
  top: 8px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(140, 140, 140, 0.25);
  z-index: 5;
}
.auto-complete div {
  font-weight: 400;
  font-size: 15px;
  color: #3d3d3d;
}
#last-searches {
  text-decoration: none;
}
.nav-bar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logout {
  width: 66px;
  height: 39px;
  margin-top: 15px;
  justify-items: center;
  margin-right: 16px;
  line-height: 20px;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  white-space: nowrap;
  text-decoration: none;
}

.title-bar {
  margin-left: 40px;
  height: 141px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 20px;
}
.title-text {
  margin-top: 19px;
  font-weight: 800;
  font-size: 48px;
}
.subtitle-text {
  font-weight: 400;
  font-size: 18px;
}
.side-bar-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 260px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.nav-links,
.pop-title {
  font-weight: 700;
  font-size: 20px;
}
.pop-title {
  margin-bottom: 18px;
}
.nav-links li {
  margin-bottom: 14px;
}
.time-links {
  margin-top: 37px;
  margin-bottom: 55px;
}
.time-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 17px;
}
.search-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 17px;
}
#last-searches {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.home a {
  color: #5fe19b;
  text-decoration: none;
}
ul {
  list-style: none;
}
.side-icon {
  margin-right: 10px;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  position: absolute;
  right: -25px;
  margin-top: 141px;
  bottom: 0;
  width: 1200px;
  height: 780px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 32%;
  overflow: scroll;
}

.container .card {
  border-radius: 12px;
  background: #303030;
  overflow: hidden;
}
.card {
  display: flex;
  flex-direction: column;
  min-height: 314px;
  height: 314px;
  width: 363px;
  margin: 12px;
}
.card-img {
  min-height: 180px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left: 16px;
  
  padding-right: 30px;
  margin-top: 3%;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #939393;
}
.game-title {
  width: 90%;
  height: 33px;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}
.game-number {
  font-weight: 700;
  font-size: 18px;
  color: #36b972;
}
.game-stats{
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}
.game-release {
  display: flex;
  flex-direction: row;
  width: 360px;
  margin-top: 16px;
  
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  color: #939393;
}
.game-genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin-top: 4px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  color: #939393;
}
.game-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;

  font-weight: 400;
  color: #ffffff;
}
.genres-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hidden {
  display: none;
}
/* platform icons */
.platforms{
  width: 100px;
  position: relative;
  justify-content: space-between;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}