* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo';
}
body {
  width: 100%;
  height: 100vh;
  background: #141414;
}
.nav-bar {
  width: 100%;
  height: 94px;
  padding-left: 40px;
  padding-right: 40px;
  background: linear-gradient(180deg, #5fe19b 0%, #36b972 50%, #0ea152 100%);
  box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-search {
  height: 47px;
  width: 362px;
  border-radius: 4px;
}
.nav-bar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar-user p {
  width: 66px;
  height: 39px;
  margin-top: 15px;
  justify-items: center;
  margin-right: 16px;
  line-height: 20px;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  white-space: nowrap;
}
.container {
  margin-left: 263px;
  margin-top: 141px;
  min-width: 1161px;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 32%;
}
.container .card {
  border-radius: 12px;
  background: #303030;
  overflow: hidden;
}
.card {
  height: 314px;
  width: 363px;
  margin: 12px;
}
img {
  width: 100%;
}
.game-info {
  position: relative;
  margin-left: 16px;
  margin-top: 3%;
  width: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #939393;
}
.game-title {
  width: 100%;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.game-release {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  justify-content: space-between;
}
.game-genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
  justify-content: space-between;
}
.game-data {
  position: relative;
  font-weight: 400;
  color: #ffffff;
}
